/AnalysisAnnotation.class
/AnnotationCustomTest$Hanmeimei.class
/AnnotationCustomTest$Huangrui.class
/AnnotationCustomTest$Lilei.class
/AnnotationCustomTest$Student.class
/AnnotationCustomTest$Teacher.class
/AnnotationCustomTest.class
/AnnotationInheritedTest$Father.class
/AnnotationInheritedTest$Son.class
/AnnotationInheritedTest.class
/AnnotationRetentionTest.class
/AnnotationTargetTest$NUMBER.class
/AnnotationTargetTest.class
/Author.class
/ConstructorAnnotation.class
/CustomAnnotation.class
/Description.class
/FieldAnnotation.class
/InheritedAnnotation.class
/MethodAnnotation.class
/PackageAnnotation.class
/ParameterAnnotation.class
/RetentionAnnotation.class
/TeacherCall.class
/TypeAnnotation.class
/Utility.class
