/DateTime.class
/DateTimeTypeConverter.class
/ExcludingField$ModifierObject.class
/ExcludingField.class
/ExclusionStrategiesTest.class
/Foo.class
/GsonTest$BagOfPrimitives.class
/GsonTest.class
/JsonFieldNamingSupport.class
/MyExclusionStrategy.class
/MyList.class
/MyListInstanceCreator.class
/NullObjectSupport$Foo.class
/NullObjectSupport.class
/RawCollectionsExample$Event.class
/RawCollectionsExample.class
/SampleObjectForTest.class
/SomeObject.class
/VersioningSupport$VersionedClass.class
/VersioningSupport.class
/package-info.class
