/Singleton$Singleton1.class
/Singleton$Singleton2.class
/Singleton$Singleton3.class
/Singleton$Singleton4.class
/Singleton$Singleton5$SingletonHolder.class
/Singleton$Singleton5.class
/Singleton$Singleton6.class
/Singleton$Singleton7.class
/Singleton.class
/package-info.class
