<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" background="../static/images/tab/tab_05.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="30"><img src="../static/images/tab/tab_03.gif" width="12" height="30" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="46%" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%"><div align="center"><img src="../static/images/tab/tb.gif" width="16" height="16" /></div></td>
                <td width="95%" class="STYLE1"><span class="STYLE3">你当前的位置</span>：[后台管理]-[通知管理]</td>
              </tr>
            </table></td>
            <td width="54%"><table border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td width="60"><table width="87%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center">
                      <input type="checkbox" name="checkbox62" value="checkbox" />
                    </div></td>
                    <td class="STYLE1"><div align="center">全选</div></td>
                  </tr>
                </table></td>
                <td width="60"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr style="cursor:pointer;" id="add_role">
                    <td class="STYLE1"><div align="center"><img src="../static/images/tab/22.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">新增</div></td>
                  </tr>
                </table></td>
                <td width="52"><table width="88%" border="0" cellpadding="0" cellspacing="0">
                  <tr style="cursor:pointer;">
                    <td class="STYLE1"><div align="center"><img src="../static/images/tab/11.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">删除</div></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="16"><img src="../static/images/tab/tab_07.gif" width="16" height="30" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8" background="../static/images/tab/tab_12.gif">&nbsp;</td>
        <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="b5d6e6">
          <tr>
            <td width="3%" height="22" background="../static/images/tab/bg.gif" bgcolor="#FFFFFF"><div align="center">
              <input type="checkbox" name="checkbox" value="checkbox" />
            </div></td>
            <td width="3%" height="22" background="../static/images/tab/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">序号</span></div></td>
			<td width="23%" height="22" background="../static/images/tab/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">标题</span></div></td>
            <td width="12%" height="22" background="../static/images/tab/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">内容</span></div></td>
            <td width="14%" height="22" background="../static/images/tab/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">创建时间</span></div></td>
            <td width="18%" background="../static/images/tab/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">发布者</span></div></td>
            <td width="15%" height="22" background="../static/images/tab/bg.gif" bgcolor="#FFFFFF" class="STYLE1"><div align="center">基本操作</div></td>
          </tr>
		  
		  #foreach($notice in $noticeList)
          <tr>
            <td height="20" bgcolor="#FFFFFF">
			   <div align="center">
                  <input type="checkbox" name="checkbox16" value="checkbox" />
               </div>
			</td>
            <td height="20" bgcolor="#FFFFFF">
			   <div align="center" class="STYLE1">
                  <div align="center">$!{notice.ID}</div>
               </div>
			</td>
            <td height="20" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">$!{notice.title}</span></div></td>
            <td height="20" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">$!{notice.content}</span></div></td>
            <td bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">$date.format($!{notice.createTime})</span></div></td>
            <td height="20" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">$!{notice.creatorName}</span></div></td>
            <td height="20" bgcolor="#FFFFFF"><div align="center"><span class="STYLE4"><span style="cursor:pointer;"><a href="#">浏览</a></span>&nbsp; &nbsp;<span style="cursor:pointer;"><img src="../static/images/tab/edt.gif" width="16" height="16" style="cursor:pointer;"/><a href="noticeEdit.htm?nid=$!{notice.ID}">编辑</a></span>&nbsp; &nbsp;<span style="cursor:pointer;"><img src="../static/images/tab/del.gif" width="16" height="16" /><a name="deleteNotice" nid="$!{notice.ID}" href="javascript:void(0);">删除</a></span></span></div></td>
          </tr>
		  #end
        </table></td>
        <td width="8" background="../static/images/tab/tab_15.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="35" background="../static/images/tab/tab_19.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="35"><img src="../static/images/tab/tab_18.gif" width="12" height="35" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="STYLE4">&nbsp;&nbsp;共有  $!{p.getTotalRecords()} 条记录，当前第  $!{p.getPage()}/$!{p.getTotalPages()} 页</td>
            <td><table border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="40"><a href="roles.htm?p=$!{p.getTopPage()}"><img src="../static/images/tab/first.gif" width="37" height="15" /></a></td>
                  <td width="45"><a href="roles.htm?p=$!{p.getTopPage()}"><img src="../static/images/tab/back.gif" width="43" height="15" /></a></td>
                  <td width="45"><a href="roles.htm?p=$!{p.getTopPage()}"><img src="../static/images/tab/next.gif" width="43" height="15" /></a></td>
                  <td width="40"><a href="roles.htm?p=$!{p.getTopPage()}"><img src="../static/images/tab/last.gif" width="37" height="15" /></a></td>
                  <td width="100"><div align="center"><span class="STYLE1">转到第
                    <input id="go_to_page_input" name="textfield" type="text" size="4" style="height:12px; width:20px; border:1px solid #999999;" /> 页 </span></div></td>
                  <td width="40"><a id="go_to_page" href="javascript:void(0);"><img src="../static/images/tab/go.gif" width="37" height="15" /></a></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="16"><img src="../static/images/tab/tab_20.gif" width="16" height="35" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<script src="../static/js/notices.js" type="text/javascript"></script>