<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sc.samples">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".example.ActLifeCycleActivity" />
        <activity android:name=".example.ActLifeCycle2Activity" />
        <activity android:name=".example.FragLifeCycleActivity" />
        <activity android:name=".example.MoveViewActivity" />
        <activity android:name=".example.TouchEventDispatch1Activity" />
        <activity android:name=".example.TouchEventDispatch2Activity" />
        <activity android:name=".example.TouchEventDispatch3Activity" />
        <activity android:name=".example.AndroidMessageActivity" />
        <activity android:name=".example.HandlerThreadActivity" />
        <activity android:name=".example.AsyncTaskActivity" />

        <activity android:name=".concurrent.ExecutorServiceExampleActivity" />
        <activity android:name=".concurrent.BlockingQueueExampleActivity" />
        <activity android:name=".concurrent.CallableAndFutureExampleActivity" />
        <activity android:name=".concurrent.FutureTaskExampleActivity" />
        <activity android:name=".concurrent.ExecutorCompletionServiceExampleActivity" />
        <activity android:name=".concurrent.JoinExampleActivity" />
        <activity android:name=".concurrent.WaitAndNotifyExampleActivity" />

        <activity android:name=".rxjava.HelloWorldActivity" />
        <activity android:name=".rxjava.ObservableCreateActivity" />
        <activity android:name=".rxjava.ObservableJustActivity" />
        <activity android:name=".rxjava.SubscribeActionActivity" />
        <activity android:name=".rxjava.ObservableCreateOperatorsActivity" />

        <activity android:name=".wiki.ArticleActivity" />

        <activity android:name=".codesnippet.FileObserverActivity" />

    </application>

</manifest>
