<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sc.samples">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许读写外部存储设备 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <application
        android:name="com.sc.samples.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".example.ActLifeCycleActivity" />
        <activity android:name=".example.ActLifeCycle2Activity" />
        <activity android:name=".example.FragLifeCycleActivity" />
        <activity android:name=".example.MoveViewActivity" />
        <activity android:name=".example.TouchEventDispatch1Activity" />
        <activity android:name=".example.TouchEventDispatch2Activity" />
        <activity android:name=".example.TouchEventDispatch3Activity" />
        <activity android:name=".example.AndroidMessageActivity" />
        <activity android:name=".example.HandlerThreadActivity" />
        <activity android:name=".example.AsyncTaskActivity" />

        <activity android:name=".concurrent.ExecutorServiceExampleActivity" />
        <activity android:name=".concurrent.BlockingQueueExampleActivity" />
        <activity android:name=".concurrent.CallableAndFutureExampleActivity" />
        <activity android:name=".concurrent.FutureTaskExampleActivity" />
        <activity android:name=".concurrent.ExecutorCompletionServiceExampleActivity" />
        <activity android:name=".concurrent.JoinExampleActivity" />
        <activity android:name=".concurrent.WaitAndNotifyExampleActivity" />

        <activity android:name=".rxjava.HelloWorldActivity" />
        <activity android:name=".rxjava.ObservableCreateActivity" />
        <activity android:name=".rxjava.ObservableJustActivity" />
        <activity android:name=".rxjava.SubscribeActionActivity" />
        <activity android:name=".rxjava.ObservableCreateOperatorsActivity" />
        <activity android:name=".rxjava.ObservableTransformOperatorsActivity" />
        <activity android:name=".rxjava.ObservableFilteringOperatorsActivity" />
        <activity android:name=".rxjava.ObservableCombiningOperatorsActivity" />

        <activity android:name=".wiki.ArticleActivity" />

        <activity android:name=".codesnippet.FileObserverActivity" />
        <activity android:name=".codesnippet.ApkSignaturesActivity" />

        <activity android:name=".widget.custom.CustomViewActivity" />
        <activity android:name=".widget.custom.CustomViewActivity2" />
        <activity android:name=".widget.RecyclerViewBug1Activity" />
        <activity android:name=".widget.RecyclerViewExampleActivity" />
        <activity android:name=".widget.RecyclerViewExample2Activity" />
        <activity android:name=".widget.SwipeRefreshLayoutExampleActivity" />

        <activity android:name=".animation.AlphaAnimationExampleActivity" />
        <activity android:name=".animation.ScaleAnimationExampleActivity" />
        <activity android:name=".animation.TranslateAnimationExampleActivity" />
        <activity android:name=".animation.RotateAnimationExampleActivity" />
        <activity android:name=".animation.SetAnimationExampleActivity" />
        <activity android:name=".animation.ScaleAnimationInterpolatorActivity" />
        <activity android:name=".animation.RotateAnimationInterpolatorActivity" />
        <activity android:name=".animation.AlphaAnimationInterpolatorActivity" />
        <activity android:name=".animation.TranslateAnimationInterpolatorActivity" />
        <activity android:name=".animation.ValueAnimatorExample1Activity" />
        <activity android:name=".animation.ValueAnimatorExample2Activity" />
        <activity android:name=".animation.ValueAnimatorExample3Activity" />
        <activity android:name=".animation.ObjectAnimatorExample1Activity" />
        <activity android:name=".animation.ObjectAnimatorExample2Activity" />
        <activity android:name=".animation.ObjectAnimatorExample3Activity" />

        <activity android:name=".realm.RealmHelloWorldActivity" />

        <service
            android:name=".filescan.ScanService"
            android:exported="false" />

    </application>

</manifest>
